<header class="header">
     <div class="logo">
        <a href="/"> <!-- Enlace a la página principal -->
          <!-- <img src="assets/logo.png" alt="Logo" /> -->
        </a>
      </div>
    
    <!-- Menú de navegación -->
    <nav class="nav-menu">
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/about">Apartments</a></li>
        <li><a href="/services">Princing</a></li>
        <li><a href="/contact">Dining</a></li>
        <li><a href="/contact">Activities</a></li>
      </ul>

    </nav>
    
    
    <div class="user-area">
      <span> Sign in</span>



      <button class="btn-signup">
        <a href="/login"> Sign in for free</a>

      </button>


    </div>
    <!-- Opcional: Área de usuario (puede ser un enlace o icono) -->
   
  </header>
  