<section class="hero">
    <div class="hero-content">

      <div class="contain-firtline">
        <h1 class="size">{{ Title }}</h1>
        <div class="content-text" [innerHTML]="firstContain"></div>

      </div>

      <div class="contain-secondline">
        <div class="content-text" [innerHTML]="secondContain"></div>
        <h1  class="size"> {{ subtitle }}</h1>
      </div>

      <div class="img-1">

        <div class="container-img">

          <img src="assets/iamges/mountain-1.jpg" alt="Montaña">
        </div>

        <div class="container-img">
          <img src="assets/iamges/mountain-2.jpg" alt="Montaña-2">

        </div>
        <button class="Make">
          {{ Reservation }}

          <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M9 2.5L9.76491 3.14414L9.77301 3.13452L9.78087 3.12469L9 2.5ZM11 -3.69382e-06L0.244705 4.20201L9.26141 11.4154L11 -3.69382e-06ZM1.76491 12.6441L9.76491 3.14414L8.23509 1.85586L0.235089 11.3559L1.76491 12.6441Z" fill="black"/>
            </svg>
            
        </button>

     
      </div>

      <div class="img-2">
        <div class="contain-explorer">
          <div class="text-explorer" [innerHTML]="explorer">

          </div>


          <button class="Make" id="explorer">
            {{ ExplorerAct }}
            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 2.5L9.76491 3.14414L9.77301 3.13452L9.78087 3.12469L9 2.5ZM11 -3.69382e-06L0.244705 4.20201L9.26141 11.4154L11 -3.69382e-06ZM1.76491 12.6441L9.76491 3.14414L8.23509 1.85586L0.235089 11.3559L1.76491 12.6441Z" fill="black"/>
              </svg>
              
          </button>

        </div>

      

      

        <div class="container-img">

          <img src="assets/iamges/bike.jpg" alt="Montaña">
        </div>

        <div class="container-img">
          <img src="assets/iamges/yoga.jpg" alt="Montaña-2">

        </div>
   

     
      </div>


    </div>
  </section>
  