$font-family-primary:"Marcellus SC", serif;
$font-family-secundary:"Manrope", sans-serif;
$font-family-threedary: "Maven Pro", sans-serif;
$font-bold:600;
$color-signup:#154F64;
$color-primary:#FFFF;
$color-secundary:#EBFBF8;
$color-threedary:#ECF4FA;
$font-size-content:14px;
