<div class="section-resort">
  <div class="contain-resort">
    <h2 #titleSection class="text-title">{{ titleSection1 }} </h2>

    <div class="container-img container">
      <div>     
        <img #imageResort id="img-resort" src="../../assets/iamges/resort.jpg" alt="">
      </div>

      <div class="container-inner">
        <div class="containFather" [innerHTML]="containFather"></div>

        <div class="box">
          <div class="discover" [innerHTML]="discover"></div>

          <button #btnExplorer class="Make btn-size">
            {{ BtnExplorer }}
            <svg width="11" height="13" viewBox="0 0 11 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 2.5L9.76491 3.14414L9.77301 3.13452L9.78087 3.12469L9 2.5ZM11 -3.69382e-06L0.244705 4.20201L9.26141 11.4154L11 -3.69382e-06ZM1.76491 12.6441L9.76491 3.14414L8.23509 1.85586L0.235089 11.3559L1.76491 12.6441Z" fill="black"/>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
